:root{
    --aa:rgb(255, 255, 255);
    --ab:rgb(241, 242, 246);
    --ac:rgb(223, 228, 234);
    --ba:rgb(206, 214, 224);
    --bb:rgb(164, 176, 190);
    --bc:rgb(116, 125, 140);
    --ca:rgb(87, 96, 111);
    --cb:rgb(47, 53, 66);
}