/* SECTION CONTACT */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 15rem; */
    padding-bottom: 10rem;
}
.contact h2 {
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 20px;
    text-decoration-style: dashed;
    text-decoration-thickness: 3px;
}
.contact .container{
    display: flex;
    background-color: brown;
    height: 450px;
    width: 85vw;
    margin-top: 5rem;
}
.contact .container .map {
    width: 70%;
    height: 100%;
    background-color: cadetblue;
}
.contact .container .details {
    width: 30%;
    height: 100%;
    background-color: rgb(39, 65, 66);
    color: var(--aa);
    padding: 2rem;
    overflow: auto;
}
.contact .container .details h3{
    margin-bottom: 1rem;
    font-weight: 500;
}
.contact .container .details p{
    display: flex;
    align-items: center;
    line-height: 1.5rem;
    transition: .2s cubic-bezier(0.23, 1, 0.320, 1);
}
.contact .container .details p.address{
    margin-bottom: 2rem;
}
.contact .container .details p.telephone{
    margin-bottom: 1rem;
    cursor: pointer;
}
.contact .container .details p.email {
    cursor: pointer;
}
.contact .container .details p.telephone:hover,
.contact .container .details p.email:hover {
    color: goldenrod;
}
.contact .container .details p i{
    margin-right: 1rem;
    font-size: 1.5rem
}


/* PENYESUAIAN DI TABLET */
@media screen and (max-width: 1120px) {
    .contact .container {
        /* flex-direction: column; */
    }
    .contact .container .map {
        width: 60%;
    }
    .contact .container .details {
        width: 40%;
    }
}
@media screen and (max-width: 990px) {
    .contact .container {
        height: 600px;
        flex-direction: column;
    }
    .contact .container .map {
        width: 100%;
        height: 65%;
    }
    .contact .container .details {
        width: 100%;
        height: 50%;
    }
}

/* PENYESUAIAN DI MOBILE */
@media screen and (max-width: 767px) {
}