body {
    /* height: 2000px; */
    color: var(--cb);
    background-color: #ffffff;
    /* background-color: #DFDBE5; */
        /* UNTUK MEMBUAT PATTERN KOTAK KOTAK */
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.5'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* background-image: url(../img/background/kubus.svg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-attachment: fixed;
}
body::before{
}


/* AWAL HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    user-select: none;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 100vh;
    padding-right: 4rem;
    /* margin-top: -3rem; */
}
header .container .headTeks {
    width: 40vw;
}
header .container .headTeks h1 {
    /* font-size: 64px; */
    font-weight: 900;
    margin-bottom: 1.5rem;
    text-shadow:-1px -1px 0 #ffffff,  /*outline*/
                1px -1px 0 #ffffff,
                -1px 1px 0 #ffffff,
                1px 1px 0 #ffffff, 
                -2px -2px 0 #ffffff,  
                2px -2px 0 #ffffff,
                -2px 2px 0 #ffffff,
                2px 2px 0 #ffffff, 
                0px 1px #808d93,        /*efek 3d*/
                -1px 0px #cdd2d5,
                -1px 2px #808d93,
                -2px 1px #cdd2d5,
                -2px 3px #808d93,
                -3px 2px #cdd2d5,
                -3px 4px #808d93,
                -4px 3px #cdd2d5,
                -4px 5px #808d93,
                -5px 4px #cdd2d5,
                -5px 6px #808d93,
                -6px 5px #cdd2d5,
                -6px 7px #808d93,
                -7px 6px #cdd2d5,
                -7px 8px #808d93,
                -8px 7px #cdd2d5,
                -20px 19px 2px rgba(0, 0, 0, 0.243);
}
header .container .headTeks p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
    text-shadow:-.7px -.7px 0 #ffffff,  
                .7px -.7px 0 #ffffff,
                -.7px .7px 0 #ffffff,
                .7px .7px 0 #ffffff,          /*outline putih*/
                -1px -1px 2px #0000005e,  
                1px -1px 2px #0000005e,
                -1px 1px 2px #0000005e,
                1px 1px 2px #0000005e;
}
header .container .showImage {
    position: relative;
    display: flex;
    align-items: center;
    max-height: 420px;
    min-width: 300px;
}
header .container .showImage img {
    height: 420px;
    pointer-events: none;
}
header .container .showImage img#satu {
}
header .container .showImage img#dua {
}
header .container .showImage img#satu {
}

header .container .showImage img.posisiAppear {
    position: absolute;
    z-index: 0;
    scale: 1.11111;
    opacity: 0;
    border-radius: 30px;
    filter: blur(10px);
}
header .container .showImage img.posisiShow {
    position: absolute;
    z-index: 1;
    scale: 1.11111;
    border-radius: 30px;
    filter: blur(10px);
    opacity: .5;
}
header .container .showImage img.posisiHide {
    position: absolute;
    z-index: 2;
    border-radius: 30px;
    transform: translateX(25px);
}

header .container .showImage img.appear {
    animation: slideAppearImage 3s forwards;
    animation-timing-function: cubic-bezier(0.53,0.57,0.25,0.89);
}
header .container .showImage img.show {
    animation: slideShowImage 3s forwards;
    animation-timing-function: cubic-bezier(0.53,0.57,0.25,0.89);
}
header .container .showImage img.hide {
    animation: slideHideImage 3s forwards;
    animation-timing-function: cubic-bezier(0.53,0.57,0.25,0.89);
}


header .container .showIndicator {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 20px;
    background-color: #ffffff00;
    /* border: 2px solid black; */
    position: absolute;
    bottom: 50px;
}
header .container .showIndicator .indic {
    width: 20px;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
header .container .showIndicator .indic .tindic {
    transition: .7s;
    border-radius: 50%;
    background-color: rgb(28, 28, 28);
    width: 0%;
    height: 0%;
}
header .container .showIndicator .indic .tindic.Active {
    background-color: rgb(28, 28, 28);
    width: 85%;
    height: 85%;
}
/* AKHIR HEADER */



/* SECTION */
.content {
    /* height: 2000px; */
}
.content::before {
    content: '';
    display: block;
    height: 185px;
    background-color: var(--aa);
    clip-path: polygon(64% 97%, 100% 0, 100% 100%, 0 100%, 0 0);
    position: relative;
}
.content .background {
    background-color: var(--aa);
}
.content h2 {
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 20px;
    text-decoration-style: dashed;
    text-decoration-thickness: 3px;
}

/* SECTION PRODUCT */
.content .product {
    padding-top: 5rem;
    margin-bottom: 15rem;
}
.content .product .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.content .product .container .back {
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
}
.content .product .container .back img {
    width: 100%;
}
.content .product .container .next {
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
}
.content .product .container .next img {
    width: 100%;
}
.back:hover, .next:hover {
    cursor: pointer;
}
.content .product .container .slideShowProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    min-height: 200px;
    /* background-color: green; */
    position: relative;
}
.content .product .container .slideShowProduct .slideProduct {
    width: 180px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(40, 40, 40, 0.5),
     2px -2px 5px rgba(40, 40, 40, 0.5),
     -2px 2px 5px rgba(40, 40, 40, 0.5),
     -2px -2px 5px rgba(40, 40, 40, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: scale .9s cubic-bezier(0.23, 1, 0.320, 1), transform 1s cubic-bezier(0.23, 1, 0.320, 1);
}
.content .product .container .slideShowProduct .slideProduct img {
    width: 50%;
}


.content .product .container .slideShowProduct .slideProduct.productSatu {
}
.content .product .container .slideShowProduct .slideProduct.productDua {
}
.content .product .container .slideShowProduct .slideProduct.productTiga {
}


.content .product .container .slideShowProduct .slideProduct.Aktif {
    z-index: 2;
    transform: translateX(0%);
    scale: 1.3;
}
.content .product .container .slideShowProduct .slideProduct.Kanan {
    transform: translateX(70%);
}
.content .product .container .slideShowProduct .slideProduct.Kiri {
    transform: translateX(-70%);
}
.content .product .container .slideShowProduct .slideProduct.zindex {
    z-index: 1;
}

/* AKHIR SECTION PRODUCT */