html{
    scrollbar-color: rgb(255, 255, 255) rgb(0, 0, 0);
}
body {
    height: 2000px;
    color: var(--cb);
}


/* AWAL HEADER */
nav {
    /* display: none; */
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/ebatu.svg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}
header .container .headTeks {
    width: 40vw;
}
header .container .headTeks h1 {
    /* font-size: 64px; */
    font-weight: 900;
    margin-bottom: 1.5rem;
    text-shadow:-1px -1px 0 #ffffff,  /*outline*/
                1px -1px 0 #ffffff,
                -1px 1px 0 #ffffff,
                1px 1px 0 #ffffff, 
                -2px -2px 0 #ffffff,  
                2px -2px 0 #ffffff,
                -2px 2px 0 #ffffff,
                2px 2px 0 #ffffff, 
                0px 1px #808d93,        /*efek 3d*/
                -1px 0px #cdd2d5,
                -1px 2px #808d93,
                -2px 1px #cdd2d5,
                -2px 3px #808d93,
                -3px 2px #cdd2d5,
                -3px 4px #808d93,
                -4px 3px #cdd2d5,
                -4px 5px #808d93,
                -5px 4px #cdd2d5,
                -5px 6px #808d93,
                -6px 5px #cdd2d5,
                -6px 7px #808d93,
                -7px 6px #cdd2d5,
                -7px 8px #808d93,
                -8px 7px #cdd2d5,
                -20px 19px 2px rgba(0, 0, 0, 0.243);
}
header .container .headTeks p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
    text-shadow:-.7px -.7px 0 #ffffff,  
                .7px -.7px 0 #ffffff,
                -.7px .7px 0 #ffffff,
                .7px .7px 0 #ffffff,          /*outline putih*/
                -1px -1px 2px #0000005e,  
                1px -1px 2px #0000005e,
                -1px 1px 2px #0000005e,
                1px 1px 2px #0000005e;
}
header .container .showImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container .showImage img.blur {
    position: absolute;
    height: 420px;
    z-index: 1;
    right: 10px;
    border-radius: 30px;
    filter: blur(10px) opacity(.6) invert();
}
header .container .showImage img.focus {
    z-index: 2;
    height: 380px;
    border-radius: 30px;
    /* filter: hue-rotate(90deg); */
    filter: invert();
}
/* AKHIR HEADER */



/* h1 {
    font-weight: 900;
    color: var(--cb);
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5,
    -20px 19px 2px rgba(0, 0, 0, 0.243);
} */